################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01 Mobile App/Basic/.vs/CounterApp/v15
